# Virtual environment
venv/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# MLflow / ZenML local data
.mlflow/
mlruns/
zenml/

# Temporary files
*.tmp
*.temp
